<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/aboutContent.css">
    <style>
        .content_right .content_right1 p{
            text-align:left;
            padding-left:15px;
        }
    </style>
</head>
<body>
<div class="bg">
    <div class="header">
        <div class="logo"><img src="__STATIC__/index/images/logo_header.png"></div>
        <div class="logo_nav">
            <ul>
                <li><a href="{:url('index/index/index')}">小丁农业</a></li>
                <li><a href="{:url('index/index/smallDing')}">小丁动态</a></li>
                <li><a href="{:url('index/index/information')}">行业资讯</a></li>
                <li><a href="{:url('index/index/imgList')}">合作单位</a></li>
                <li><a href="{:url('index/index/service')}">服务支持</a></li>
                <li><a href="{:url('index/index/aboutOur')}">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/dongtai/header-image4.png" alt=""></div>
    <div id="address">
        <div id="address_now">
            <p>当前位置:<a href="#">关于我们</a></p>
        </div>
        <div id="content">
            <div id="content_left">
                    <ul>
                    <li><a href="#">公司简介</a></li>
                    <li><a href="#">公司历程</a></li>
                    <li><a href="#">优秀团队</a></li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
            <div class="content_right">
                <div class="content_right1">
                    <h3>公司介绍</h3>
                    <img src="__STATIC__/index/images/logo_header.png">
                    <h3>构建互联网+智慧共享农业云平台</h3>
                    <h3>将生态农产品从田里"端"到餐桌</h3>
                    <p>四川小丁农业科技有限公司，大力发展可视农业，致力于为消费者提供绿色农副产品，从根源上解决食品安全题！</p>
                    <p>小丁可视农业四大优点:第一，过程可视、追根溯源，利于增强消费者对产品的信任；第二，商业定位，利于消费者
                    <p>实地购买，发展农业旅游；第三，贫困户认证，利于开展精准扶贫工作；第四，产品人手养购，利于解决供销矛盾。</p>
                </div>
            </div>
            <div class="content_right">
                <div class="content_right1">
                    <h3>公司历程</h3>
                    <p>2017</p>
                    <p>2017-11-16</p>
                    <p>作为电商代表，参加四川眉山东坡区盘鳌黄金蜜柚品尝节，辅助眉山水果推广</p>
                    <p>2017-09-15</p>
                    <p>四川小丁农业科技有限公司，与四川眉山市东坡区盘鳌乡人民政府就项目</p>
                    <p>2017-08-03</p>
                    <p>四川小丁农业科技有限公司，四川眉山东坡区成立</p>
                </div>
            </div>
            <div class="content_right">
                <div class="content_right1">
                    <h3>优秀团队</h3>
                    <p style="line-height:30px;">领导层与骨干人员有着超过平均15年的行业从业经验，由深谙行业战略的资深专家、资深产品研发专家、资深研发技术专家组成 由深谙行业战略的资深专家、资深产品研发专家、资深应用技术专家组成。积累的经验包括全国100多家大型商业地产资产管理，零售企业的系统规划、设计、软件系统研发、顾问与实施等。函数数据可以为商业地产，零售企业提供业务咨询、IT规划、互联网+、应用系统、项目实施、系统集成以及售后等全方位的服务。</p>
                </div>
            </div>
            <div class="content_right">
                <div class="content_right1">
                    <h3>联系我们</h3>
                    <p>公司地址:四川省眉山市东坡区圣丰国际创业孵化园</p>
                    <p>联系电话:028-87027812/18108038062/18782250257</p>
                    <p>电子邮箱:250188501@qq.com/1241206373@qq.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/platform/platform2.png"></div>
    <div id="nav_footer">
        <div id="nav_left">
            <div class="logo3"><img src="__STATIC__/index/images/logo/logo6.png"></div>
            <div class="logo_nav">
                <ul>
                    <li><a href="#">小丁农业</a></li>
                    <li><a href="#">小丁动态</a></li>
                    <li><a href="#">行业资讯</a></li>
                    <li><a href="#">合作单位</a></li>
                    <li><a href="#">服务支持</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_right"><img src="__STATIC__/index/images/dongtai/header_logo.png"></div>
    </div>
    <div id="footer" style="width:100%;height:66px;background:#5fb632">
        <p style="float:left;color:#f9f9f9;margin-left:200px;font-size:16px;">Copyright 2017.All rights reserved</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">座机：028-87027812</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">邮箱:+250188501@qq.com<span style="margin-left:15px;">+1241206373@qq.com</span></p>
    </div>
</div>
</body>
</html>