<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小丁农业科技有限公司网首页</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/smallding.css">
</head>
<body>
<div class="bg">
    <div class="header">
        <div class="logo"><img src="__STATIC__/index/images/logo_header.png"></div>
        <div class="logo_nav">
            <ul>
                <li><a href="{:url('index/index/index')}">小丁农业</a></li>
                <li><a href="{:url('index/index/smallDing')}">小丁动态</a></li>
                <li><a href="{:url('index/index/information')}">行业资讯</a></li>
                <li><a href="{:url('index/index/imgList')}">合作单位</a></li>
                <li><a href="{:url('index/index/service')}">服务支持</a></li>
                <li><a href="{:url('index/index/aboutOur')}">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/mainPage.png" alt=""></div>
        <div class="content">
            <div class="food"><img src="__STATIC__/index/images/food.png"></div>
                <h2 style="margin-top:30px">寻找生态自然的味道</h2>
                <p>为消费者提供最原始的高质量食物，最小丁农业一直以来的目标及方向</p>
                <p>我们为此不断前行，这也是我们一如既往的专注和追求</p>
            <div class="photo">
                <div clss="photo1"><img src="__STATIC__/index/images/forcut_1.png"></div>
                    <div class="content1">
                        <img src="__STATIC__/index/images/forcut_2.png">
                        <h3>我们的理念</h3>
                        <p class="text">构建互联网+智慧共享农业云平台</p>
                        <p class="text">将生态农产品从田里"端"到餐桌</p>
                    </div>
                    <div class="content2">
                        <img src="__STATIC__/index/images/forcut_3.png">
                        <h3>用"小丁农业"，发现更生态世界</h3>
                        <p class="text1">让我们能够看的见的产品成长史，让消费者能够了解产品的自然生长环境，追根溯源......</p>
                    </div>
                </div>
                <div class="photo2">
                    <div class="content3">
                        <div class="photo3"><img src="__STATIC__/index/images/forcut_4.png"></div>
                            <h3 class="text2">食物来源+卖家</h3>
                            <p class="text3">每一位入住平台的生产商，都是经过严格筛选的认证的<br>优质商家</p>
                        <div class="photo4"><img src="__STATIC__/index/images/forcut_5.png"></div>
                            <h3>区域代理商</h3>
                            <p class="text3">每一个区域都有专门监控和管理食品生产商的区域服务<br>人员</p>
                    </div>
                    <div class="photo5"><img src="__STATIC__/index/images/forcut_6.png"></div>
                </div>
            </div>
        <div class="nav">
            <div class="nav_icon">
                <h2>消费用户系统</h2>
                <ul>
                    <li>
                        <a><img src="__STATIC__/index/images/icon1.png"></a>
                        <p class="icon_images">直播</p>
                    </li>
                    <li>
                        <a><img src="__STATIC__/index/images/icon2.png"></a>
                        <p class="icon_images">市集</p>
                    </li>
                    <li>
                        <a><img src="__STATIC__/index/images/icon3.png"></a>
                        <p class="icon_images">店铺</p>
                    </li>
                    <li>
                        <a><img src="__STATIC__/index/images/icon4.png"></a>
                        <p class="icon_images">成长录</p>
                    </li>
                    <li>
                        <a><img src="__STATIC__/index/images/icon5.png"></a>
                        <p class="icon_images">我的</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scene">
            <h3 class="scene_user">消费用户使用场景</h3>
            <div class="scene_left">
                <img src="__STATIC__/index/images/scene1.png">
                <h3 class="scene1">直播/Live broadcast</h3>
                <p class="scene2">全天24小时全程监控食物的来源，生态的种植以及养殖方式，定位关注您感兴趣的生态产品</p>
            </div>
            <div class="scene_left">
                <img src="__STATIC__/index/images/scene2.png">
                <h3 class="scene1">直播/Live broadcast</h3>
                <p class="scene2">全天24小时全程监控食物的来源，生态的种植以及养殖方式，定位关注您感兴趣的生态产品</p>
            </div>
            <div class="scene_left">
                <img src="__STATIC__/index/images/scene3.png">
                <h3 class="scene1">直播/Live broadcast</h3>
                <p class="scene2">全天24小时全程监控食物的来源，生态的种植以及养殖方式，定位关注您感兴趣的生态产品</p>
            </div>
        </div>
    <div class="wechat">
        <div class="wechat_content">
            <img src="__STATIC__/index/images/wechat_logo.png">
            <h2>超过20000用户已经在使用"小丁农业"平台公众号</h2>
            <p>关注小丁农业</p>
            <div class="wechat_image">
                <img src="__STATIC__/index/images/wechat_icon.png">
            </div>
            <p>微信扫一扫</p>
        </div>
    </div>
    <div class="product">
        <div class="in_product">
            <h2 class="main_product">受欢迎的生态食物</h2>
            <p class="main_content">生态食品也称为有机食品,绿色食品，是指粮食，蔬菜，果品，禽畜，水果和石油，等食品的生产和加工<br>中不使用任何人工合成的化肥，农药，不容许吃转基因食品，并通过有关颁证组织认证，确认纯天然，<br>无污染的安全营养食品。</p>
        </div>
    </div>
    <div class="pre_display">
        <div class="pre_image">
            <div class="pre_content">
                <h2>农产品加工</h2>
                <p>以人工生产的农业物料和野生动植物资源为原料的进行生产的产品，例如粮食酒</p>
                <div class="pre_icon">
                    <img src="__STATIC__/index/images/product_icon/icon1.png">
                </div>
            </div>
            <div class="pre_content">
                <h2>农产品加工</h2>
                <p>以人工生产的农业物料和野生动植物资源为原料的进行生产的产品，例如粮食酒</p>
                <div class="pre_icon">
                    <img src="__STATIC__/index/images/product_icon/icon1.png">
                </div>
            </div>
        </div>
        <div class="pre_image">
            <img src="__STATIC__/index/images/product_icon/mainpage.png">
        </div>
        <div class="pre_image">
            <div class="pre_content">
                <h2>农产品加工</h2>
                <p>以人工生产的农业物料和野生动植物资源为原料的进行生产的产品，例如粮食酒</p>
                <div class="pre_icon">
                    <img src="__STATIC__/index/images/product_icon/icon1.png">
                </div>
            </div>
            <div class="pre_content">
                <h2>农产品加工</h2>
                <p>以人工生产的农业物料和野生动植物资源为原料的进行生产的产品，例如粮食酒</p>
                <div class="pre_icon">
                    <img src="__STATIC__/index/images/product_icon/icon1.png">
                </div>
            </div>
        </div>
     </div>
    <div class="image1" style="margin-top:-10px;">
        <img src="__STATIC__/index/images/mainPage1.png">
    </div>
    <div class="question">
        <div class="question_one">
            <p>经常被问到的问题</p>
            <div class="free_question">
                <p>有免费试用吗?</p>
                <span>是的，所有功能关注公众号之后随时可以使用！你也可以随时取消。您的使用将持续到您不再使用时结束。</span>
            </div>
            <div class="green_question">
                <p>卖的东西是真的绿色环保吗?</p>
                <span>首先，平台入驻的卖家都是需要认证入驻的；其次，产品都是需要有成长日志的，方便买家查看产品的成长历史；再次，每样产品的生产环境都是被24小时直播的！</span>
            </div>
        </div>
        <p class="one">有更多问题吗?欢迎查看<a href="#">小丁动态</a></p>
    </div>
    <div class="cooperate">
        <h2>合作团队单位</h2>
        <p>致力于为消费者提供最原始的高质量食物，是小丁农业一直以来的目标及方向，我们为此不断前行，这也是我们一如既往的专注和追求。</p>
        <div class="platform">
            <ul>
                <li><img src="__STATIC__/index/images/platform/platform3.jpg"></li>
                <li><img src="__STATIC__/index/images/platform/platform3.jpg"></li>
                <li><img src="__STATIC__/index/images/platform/platform3.jpg"></li>
                <li><img src="__STATIC__/index/images/platform/platform3.jpg"></li>
            </ul>
        </div>
    </div>
    <div class="words">
        <div class="nav-words">
                <form action="#" method="post">
                    <p>您的留言</p>
                    <dl style="border:1px solid #d6d6d6;height:49px;background:#ffffff;margin-top:10px;">
                        <dt>您的姓名:<input type="text" name="username" id="username">
                       您的邮箱:<input type="text" name="email" id="email"></dt>
                    </dl>
                    <dl style="border:1px solid #d6d6d6;height:49px;background:#ffffff;">
                        <dt>您的留言:<input type="textarea" name="messages" id="messages">
                        <input type="submit" value="提交" style="width:145px;height:49px;font-size:20px;margin-left:130px;margin-top:-50px;background:#ff7043;float:right"></dt>
                    </dl>
                </form>
        </div>
    </div>
    <div class="image"><img src="__STATIC__/index/images/platform/platform2.png"></div>
    <div id="nav_footer">
        <div id="nav_left">
            <div class="logo3"><img src="__STATIC__/index/images/logo/logo6.png"></div>
            <div class="logo_nav">
                <ul>
                    <li><a href="#">小丁农业</a></li>
                    <li><a href="#">小丁动态</a></li>
                    <li><a href="#">行业资讯</a></li>
                    <li><a href="#">合作单位</a></li>
                    <li><a href="#">服务支持</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_right"><img src="__STATIC__/index/images/dongtai/header_logo.png"></div>
    </div>
    <div id="footer" style="width:100%;height:66px;background:#5fb632">
        <p style="float:left;color:#f9f9f9;margin-left:200px;font-size:16px;">Copyright 2017.All rights reserved</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">座机：028-87027812</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">邮箱:+250188501@qq.com<span style="margin-left:15px;">+1241206373@qq.com</span></p>
    </div>
</div>
</body>
</html>            