<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资讯详情页</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/aboutContent.css">
    <style>
        .link a{
            text-decoration:none;
        }
        .link p{
            float:left;
            margin-left:30px;
            line-height:5px;
        }
    </style>
</head>
<body>
<div class="bg">
    <div class="header">
        <div class="logo"><img src="__STATIC__/index/images/logo_header.png"></div>
        <div class="logo_nav">
            <ul>
                <li><a href="{:url('index/index/index')}">小丁农业</a></li>
                <li><a href="{:url('index/index/smallDing')}">小丁动态</a></li>
                <li><a href="{:url('index/index/information')}">行业资讯</a></li>
                <li><a href="{:url('index/index/imgList')}">合作单位</a></li>
                <li><a href="{:url('index/index/service')}">服务支持</a></li>
                <li><a href="{:url('index/index/aboutOur')}">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/dongtai/header-image4.png" alt=""></div>
    <div id="test">
        <div id="address_now">
            <p>当前位置:<a href="#">主要资讯</a></p>
        </div>
        <div class="mainPage" style="width:1024px;margin:0 auto;height:800px;background:#ffffff;margin-top:80px;">
            <h3 style="padding-top:40px;text-align:center">互联网养殖:一款APP就能养猪 村长把猪养进互联网+</h3>
            <div class="news" style="width:270px;height:50px;margin:0 auto;margin-top:15px;">
                <span>来源:小丁农业</span>
                <span>时间:2017-8-23</span>
            </div>
            <div class="hr" style="width:900px;margin:0 auto"><hr/></div>
        </div>
        <div class="link" style="width:1024px;height:50px;margin:15px auto;background:#ffffff;">
            <p><a href="#">上一条:蒲城皇冠批发商-蒲城早酥梨零售厂家-渭南卤..</a></p>
            <p><a href="#">下一条:果苗出售/三新核桃苗基地/青白江区百泉家庭....</a></p>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/platform/platform2.png"></div>
    <div id="nav_footer">
        <div id="nav_left">
            <div class="logo3"><img src="__STATIC__/index/images/logo/logo6.png"></div>
            <div class="logo_nav">
                <ul>
                    <li><a href="#">小丁农业</a></li>
                    <li><a href="#">小丁动态</a></li>
                    <li><a href="#">行业资讯</a></li>
                    <li><a href="#">合作单位</a></li>
                    <li><a href="#">服务支持</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_right"><img src="__STATIC__/index/images/dongtai/header_logo.png"></div>
    </div>
    <div id="footer" style="width:100%;height:66px;background:#5fb632">
        <p style="float:left;color:#f9f9f9;margin-left:200px;font-size:16px;">Copyright 2017.All rights reserved</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">座机：028-87027812</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">邮箱:+250188501@qq.com<span style="margin-left:15px;">+1241206373@qq.com</span></p>
    </div>
</div>
</body>
</html>