<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>服务支持</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/smallding.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/service.css">
</head>
<body>
<div class="bg">
    <div class="header">
        <div class="logo"><img src="__STATIC__/index/images/logo_header.png"></div>
        <div class="logo_nav">
            <ul>
                <li><a href="{:url('index/index/index')}">小丁农业</a></li>
                <li><a href="{:url('index/index/smallDing')}">小丁动态</a></li>
                <li><a href="{:url('index/index/information')}">行业资讯</a></li>
                <li><a href="{:url('index/index/imgList')}">合作单位</a></li>
                <li><a href="{:url('index/index/service')}">服务支持</a></li>
                <li><a href="{:url('index/index/aboutOur')}">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/dongtai/header-image3.png" alt=""></div>
    <div id="address">
        <div id="address_now">
            <p>当前位置:<a href="#">服务支持</a></p>
        </div>
        <div class="content">
            <div class="icon"><img src="__STATIC__/index/images/service/service1.png"></div>
            <div class="content_list">
                <p>卖家</p>
                <p>食物来源</p>
                <p>卖家管理入口地址:<a href="http://weixin.xiaodigsc.com/seller">管理后台</a></p>
                <p>卖家申请入驻:<a href="http://weixin.xiaodigsc.com/seller">详情</a></p>
                <p>卖家操作手册</p>
            </div>
        </div>
        <div class="content">
            <div class="icon"><img src="__STATIC__/index/images/service/service2.png"></div>
            <div class="content_list">
                <p>代理商</p>
                <p>卖家管理入口地址:<a href="http://weixin.xiaodigsc.com/seller">商家后台</a></p>
                <p>卖家申请入驻:<a href="http://weixin.xiaodigsc.com/seller">无</a></p>
            </div>
        </div>
        <div class="content">
            <div class="icon"><img src="__STATIC__/index/images/service/service3.png"></div>
            <div class="content_list">
                <p>平台管理中心</p>
                <p>平台管理入口地址:<a href="http://weixin.xiaodigsc.com/seller">食物来源</a></p>
                <p>管理员申请入驻<a href="">无</a></p>
            </div>
        </div>
        <div class="content">
            <div class="icon"><img src="__STATIC__/index/images/service/service4.png"></div>
            <div class="content_list">
                <p>其他</p>
                <p>其他地址:<a href="http://weixin.xiaodigsc.com/seller">无</a></p>
                <p>其他情况<a href="">无</a></p>
            </div>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/platform/platform2.png"></div>
    <div id="nav_footer">
        <div id="nav_left">
            <div class="logo3"><img src="__STATIC__/index/images/logo/logo6.png"></div>
            <div class="logo_nav">
                <ul>
                    <li><a href="#">小丁农业</a></li>
                    <li><a href="#">小丁动态</a></li>
                    <li><a href="#">行业资讯</a></li>
                    <li><a href="#">合作单位</a></li>
                    <li><a href="#">服务支持</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_right"><img src="__STATIC__/index/images/dongtai/header_logo.png"></div>
    </div>
    <div id="footer" style="width:100%;height:66px;background:#5fb632">
        <p style="float:left;color:#f9f9f9;margin-left:200px;font-size:16px;">Copyright 2017.All rights reserved</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">座机：028-87027812</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">邮箱:+250188501@qq.com<span style="margin-left:15px;">+1241206373@qq.com</span></p>
    </div>
</div>
</body>
</html>