<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小丁动态</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/style/smallding.css">
    <style>
        #content ul li{
            overflow:hidden;
            clear:both;
        }
        #content ul li span{
            margin-right:10px;
        }
        #content ul li:hover{
            background:#f7f7f7;
        }
    </style>
</head>
<body>
<div class="bg">
    <div class="header">
        <div class="logo"><img src="__STATIC__/index/images/logo_header.png"></div>
        <div class="logo_nav">
            <ul>
                <li><a href="{:url('index/index/index')}">小丁农业</a></li>
                <li><a href="{:url('index/index/smallDing')}">小丁动态</a></li>
                <li><a href="{:url('index/index/information')}">行业资讯</a></li>
                <li><a href="{:url('index/index/imgList')}">合作单位</a></li>
                <li><a href="{:url('index/index/service')}">服务支持</a></li>
                <li><a href="{:url('index/index/aboutOur')}">关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/dongtai/header-image1.png" alt=""></div>
    <div id="address">
        <div id="address_now">
            <p>当前位置:<a href="#">动态</a></p>
        </div>
        <div id="content" style="background:#ffffff;">
            <p style="text-align:left;margin-left:20px;">小丁动态</p>
            <ul>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">有免费试用的吗?</a><span>2017-12-19</span></li>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">卖的东西是真的绿色环保吗?</a><span>2017-12-19</span></li>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">蒲城皇冠梨批发商-蒲城早酥梨零售厂家</a><span>2017-12-19</span></li>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">果苗出售/三新核桃基地/青白江区百泉家庭林场</a><span>2017-12-19</span></li>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">水果商城商家入驻，正宗红心蜜柚价格，四川金糖果农业发展</a><span>2017-12-19</span></li>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">资中血橙多少钱一斤，血橙批发果子价格，资中县大千种植农民专业</a><span>2017-12-19</span></li>
                <li><a href="{:url('index/index/mainPage')}" target="_blank" title="有免费试用的吗?">白水苹果批发多少钱/渭南苹果收购价/渭南天顺农产品商贸有限公司</a><span>2017-12-19</span></li>
            </ul>
        </div>
    </div>
    <div class="image1"><img src="__STATIC__/index/images/platform/platform2.png"></div>
    <div id="nav_footer">
        <div id="nav_left">
            <div class="logo3"><img src="__STATIC__/index/images/logo/logo6.png"></div>
            <div class="logo_nav">
                <ul>
                    <li><a href="#">小丁农业</a></li>
                    <li><a href="#">小丁动态</a></li>
                    <li><a href="#">行业资讯</a></li>
                    <li><a href="#">合作单位</a></li>
                    <li><a href="#">服务支持</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_right"><img src="__STATIC__/index/images/dongtai/header_logo.png"></div>
    </div>
    <div id="footer" style="width:100%;height:66px;background:#5fb632">
        <p style="float:left;color:#f9f9f9;margin-left:200px;font-size:16px;">Copyright 2017.All rights reserved</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">座机：028-87027812</p>
        <p style="float:left;color:#f9f9f9;margin-left:60px;font-size:16px;">邮箱:+250188501@qq.com<span style="margin-left:15px;">+1241206373@qq.com</span></p>
    </div>
</div>
</body>
</html>